
<%= render 'layouts/flash_messages' %>
<% @microposts.each do |micropost| %>
<% if micropost.anonymous? %>
  <p>匿名希望　さん</p>
<% else %>
  <p><%= micropost.user.name %>　さん</p>
<% end %>
<%= link_to micropost.content,micropost %></br>
<% end %>
