/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

li {
  list-style: none;
}
// max-width

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}
// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.like-btn {
  color: #c6c6c6;
}

.liked-btn {
  color: #ff0000;
}

.overflow-hidden {
  overflow: hidden;
}

.box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  color: #d36090; /*文字色*/
  background: #fff;
  border: solid 3px #60d386; /*線*/
  border-radius: 10px; /*角の丸み*/
  p {
    margin: 0;
    padding: 0;
  }
}

.content-box{
    padding: 0.5em 2em;
    margin: 2em auto;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 50%;
}

.break-word{
    word-wrap: break-word;
}
